.modal-certificate {
    width: 70rem !important;
}
.border-black {
	border: 1px solid black;
}
.margin-top {
	margin-top: 10px;
}
.alert-danger-select2 {
	border: 1px solid red !important;
}

.has-error .select2-selection {
    border-color: #ec5548 !important;
}

.dropdown-item:hover {
	cursor: pointer;
}

.event-background{
    background: url("../img/bg-triangle-0.png");
    background-position: center;
    background-size: cover;
    background-color: #eeeeee;
    height: auto;
    width: 100%;
}

.card-header-tieza-bg-color{
    background-color: #2764c496 !important; 
    color: #FFFFFF !important;
}

.card-body-tieza-bg-color{
    background-color: #8db0e796 !important;
     color: #FFFFFF !important;
}

.icon-tieza-bg-color{
    background-color: #818ea300 !important;
}

.pull-right{
    float:right;
}

.text-red{
    color: #ea4335 !important;
}
